{% extends 'base.html.twig' %}
 {% block body %}
     <p>{{ article.title }}</p>
     <strong>Tags :</strong>
     <ul>
         {% for tag in tags %}
             <li><a href="{{ path("tag_name", {'name': tag.name}) }}">{{ tag.name }}</a></li>
         {% else %}
             <li>No tags for this article</li>
         {% endfor %}
     </ul>
 {% endblock %}

